body {
  font-family: sans-serif;
  margin: 0;
  background-color: #99ccff;
}

.logo {
  background-image: url('/logo.png');
  /* add other CSS properties for your logo */
}

.text {
   
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 2em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

h1 {
  background-color: #00ffc3;
  color: #000099;
  margin: 0;
  padding: 1em;
}

p {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid #00465B;
  font-family: 'Brush Script MT', cursive;
}

